html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

body.fixed-nav {
    padding-top: 56px;
}

.content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 1rem;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer;
}

@media (min-width: 992px) {
    #mainNav .navbar-brand {
       width: 250px;
    }

    #mainNav .navbar-collapse {
        overflow: visible;
        max-height: none;
    }
}

.content-wrapper {
    overflow-x: hidden;
    background: white;
}

a.list-group-item {
    overflow: hidden;
}

.card-header span {
    overflow: hidden;
    width: 80%;
    min-height: 50px;
}

.card {
    border-color: #d6e9c6 !important;
}

.card.border-success {
    border-color: #d6e9c6 !important;
}

.card.border-danger {
    border-color: #ebccd1 !important;
}

.card-header.bg-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

.card-header.bg-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}
